.body {
    /** Commenting out grid
    display: grid;
    grid-template-rows: 1fr 15fr 1fr;
    grid-auto-columns: 1fr 4fr 1fr;
    **/
    
}
/** commenting out nav bar
.nav {
    grid-area: 1 / 1 / span 1 / span 10;
}
**/
.logo {
    position: fixed;
    top: 20%;
    left: 48%;
    margin-top: -50px;
    margin-left: -100px;
}

.search_bar {
    position: fixed;
    top: 53%;
    left: 38%;
    margin-top: -50px;
    margin-left: -100px;
    width: 60%;
    height: 10%;
}

#bar {
    width: 70%;
    height: 55%;
    box-shadow: 0.5px 0.5px rgba(1, 1, 1, 5%);
}

.search_buttons {
    position: fixed;
    top: 65%;
    left: 48%;
    margin-top: -50px;
    margin-left: -100px;
}

input[type=submit] {
    padding: 10px 15px; 
    background: rgba(1, 1, 1, 5%); 
    border:0 none;
    cursor:pointer;
    font-family: arial;
    font-size: 12pt; 
}

/** Commenting out footer

.footer {
    grid-area: 10 / 1 / span 1 / span 10;
    background-color: lightgrey;
}
**/